{
	"comments": false,
	"env": {
		"main": {
			"presets": [
				["env", {
					"targets": { "node": 7 }
				}],
				"stage-0",
				"stage-2",
				"stage-3",
				"flow"
			]
		},
		"renderer": {
			"presets": [
				["env", {
					"modules": false
				}],
				"stage-0",
				"stage-2",
				"stage-3",
				"flow"
			]
		},
		"web": {
			"presets": [
				["env", {
					"modules": false
				}],
				"stage-0",
				"stage-2",
				"stage-3",
				"flow"
			]
		}
	},
	"plugins": [
		"transform-runtime",
		"syntax-dynamic-import", 
		"transform-object-rest-spread",
		"transform-vue-jsx"
	]
}
