<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
	{# <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.css" /> #}
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/paper.css" />
	<style>
		@page {
			size: A4
		}
	</style>
</head>

<body class="A4">
	<section class="sheet padding-10mm">
		<nav class="navbar navbar-dark bg-primary">
			<a class="navbar-brand" href="#">Navbar w/ text</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
					aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
				</ul>
				<span class="navbar-text">
					Navbar text with an inline element
				</span>
			</div>
		</nav>
		CORE AGAIN TEST PAGE
		<br/>
		{{ name }}
		<!-- Write HTML just like a web page -->
		{% for row in [1,2,3,4] %}
		{{ row }}
		{% endfor %}
	</section>
	<script lang="json5">
		{
			json: true
		}
	</script>
</body>

</html>
