<!DOCTYPE html>
<html style="overflow-y:hidden">
	<head>
		<meta charset="utf-8">
		<style>
			*{
				-webkit-user-select: none;
				-webkit-user-drag: none;
				cursor:default;
			}
			/* TAG:ICON-FIX */
			@font-face {
			font-family: 'Material Icons';
			font-style: normal;
			font-weight: 400;
			src: url(static/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
			src: local('Material Icons'),
				local('MaterialIcons-Regular'),
				url(static/fonts/MaterialIcons-Regular.woff2) format('woff2'),
				url(static/fonts/MaterialIcons-Regular.woff) format('woff'),
				url(static/fonts/MaterialIcons-Regular.ttf) format('truetype');
			}
			@font-face {
				font-family: 'Font Awesome 5 Brands';
				font-style: normal;
				font-weight: normal;
				font-display: auto;
				src: url("static/fonts/fa-brands-400.eot");
				src: url("static/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
						url("static/fonts/fa-brands-400.woff2") format("woff2"),
						url("static/fonts/fa-brands-400.woff") format("woff"),
						url("static/fonts/fa-brands-400.ttf") format("truetype"),
						url("static/fonts/fa-brands-400.svg#fontawesome") format("svg");
			}
			@font-face {
				font-family: 'Font Awesome 5 Free';
				font-style: normal;
				font-weight: 400;
				font-display: auto;
				src: url("static/fonts/fa-regular-400.eot");
				src: url("static/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
						url("static/fonts/fa-regular-400.woff2") format("woff2"),
						url("static/fonts/fa-regular-400.woff") format("woff"),
						url("static/fonts/fa-regular-400.ttf") format("truetype"),
						url("static/fonts/fa-regular-400.svg#fontawesome") format("svg");
			}
			@font-face {
				font-family: 'Font Awesome 5 Free';
				font-style: normal;
				font-weight: 900;
				font-display: auto;
				src: url("static/fonts/fa-solid-900.eot");
				src: url("static/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
					url("static/fonts/fa-solid-900.woff2") format("woff2"),
					url("static/fonts/fa-solid-900.woff") format("woff"),
					url("static/fonts/fa-solid-900.ttf") format("truetype"),
					url("static/fonts/fa-solid-900.svg#fontawesome") format("svg");
			}
			@font-face {
				font-family: 'Font Awesome 5 Brands';
				font-style: normal;
				font-weight: normal;
				font-display: auto;
				src: url("static/fonts/fa-brands-400.eot");
				src: url("static/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
					url("static/fonts/fa-brands-400.woff2") format("woff2"),
					url("static/fonts/fa-brands-400.woff") format("woff"),
					url("static/fonts/fa-brands-400.ttf") format("truetype"),
					url("static/fonts/fa-brands-400.svg#fontawesome") format("svg");
			}

		</style>
		<title>GymKonnect</title>
		<% if (htmlWebpackPlugin.options.nodeModules) { %>
			<!-- Add `node_modules/` to global paths so `require` works properly in development -->
			<script>
				require("module").globalPaths.push("<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>")
			</script>
		<% } %>
	</head>
	<body>
		<div id="app"></div>
		<!-- Set `__static` path to static files in production -->
		<script>
			if (process.env.NODE_ENV !== "development") window.__static = require("path").join(__dirname, "/static").replace(/\\/g, "\\\\")
			// Check that service workers are registered
			// TODO: Enable Service worker
			/** if ('serviceWorker' in navigator) {
				// Use the window load event to keep the page load performant
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js');
				});
			} **/
		</script>

		<!-- webpack builds are automatically injected -->
	</body>
</html>
